@import "../../variables";

.appMessageList {
    @include font-and-bgc();
    text-align: justify;
  
    .messageTitle {
      font-size: 1em;
      padding: 0 2.5em;
      margin-bottom: 0.5em
  }
    .message {
      font-size: 0.8em;
      border-bottom: 1px solid #D0CFCF;
      padding: 0 3em 0.5em 3em;
      margin: 0;
      }
    .messageDate {
      font-size: 0.9em;
      background-color: $tertiary-color;
      border-bottom: 1px solid #D0CFCF;
      margin: 0;
      padding: 0.5em 1em;
      max-height: 5em;
    }
  }